.signup {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    background-size: cover;
  }
  
  .signupTitle {
    font-size: 50px;
  }
  
  .signupForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .signupForm > label {
    margin: 10px 0;
  }
  
  .signupInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .signupInput:focus {
    outline: none;
  }
  
  .signupButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  .signupLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }